Source: ejabberd
Section: net
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
Build-Depends: debhelper (>= 7.3~), quilt, libexpat1-dev, libssl-dev,
 zlib1g-dev, libpam0g-dev, po-debconf, git (>= 1.5), libyaml-dev,
 erlang-base, erlang-asn1, erlang-parsetools, erlang-dev (>= 1:15.b),
 erlang-crypto, erlang-ssl, erlang-mnesia, erlang-inets
Standards-Version: 3.9.5
Homepage: http://www.process-one.net/en/projects/ejabberd/
Vcs-Git: https://git.fsinf.at/apt/ejabberd.git
Vcs-Browser: https://git.fsinf.at/apt/ejabberd

Package: ejabberd
Architecture: any
Depends: adduser, ${erlang:Depends}, ${erlang-abi:Depends}, openssl, ucf, ${misc:Depends}, ${shlibs:Depends}
Suggests: libunix-syslog-perl, imagemagick | graphicsmagick-imagemagick-compat
Conflicts: ejabberd-mod-shared-roster-ldap
Description: distributed, fault-tolerant Jabber/XMPP server written in Erlang
 ejabberd is a distributed, fault-tolerant Jabber/XMPP server written in Erlang.
 Its features contain:
  - XMPP-compliant
  - Web based administration
  - Load balancing: can run in a cluster of machines
  - Fault-tolerance: database can be replicated and stored on multiple
    nodes (nodes can be added or replaced 'on the fly')
  - Virtual hosting: several virtual domains can be served using single ejabberd
    instance
  - SSL/TLS support
  - Multi-User Chat (MUC/conference)
  - IRC transport
  - Jabber Users Directory, based on users vCards
  - Service Discovery
  - Shared roster
