#!/usr/bin/make -f
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

DESTDIR=$(CURDIR)/debian/ejabberd


%:
	dh $@


.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	# NOTE: We force libdir, because it defaults to /var/lib/x86_64-linux-gnu
	# on Debian Wheezy and all Ubuntu distros up to at least Saucy.
	dh_auto_configure -- --enable-odbc --enable-mysql --enable-pgsql --enable-pam \
	    --enable-zlib --enable-iconv --enable-lager --enable-stun \
	    --enable-transient_supervisors \
	    --enable-sqlite --enable-nif --enable-transient_supervisors \
	    --enable-riak --enable-elixir --enable-redis --enable-riak \
	    --libdir=/usr/lib

.PHONY: override_dh_auto_build
override_dh_auto_build:
	dh_auto_build

.PHONY: override_dh_auto_install
override_dh_auto_install:
	dh_auto_install
	rm $(DESTDIR)/etc/ejabberd/ejabberd.yml
	mkdir $(DESTDIR)/etc/init.d $(DESTDIR)/etc/default
	cp ejabberd.init $(DESTDIR)/etc/init.d/ejabberd
	install -Dm 0644 ejabberd.service.template $(DESTDIR)/lib/systemd/system/ejabberd.service
	mv $(DESTDIR)/etc/ejabberd/ejabberdctl.cfg $(DESTDIR)/etc/default/ejabberd
	ln -s ../default/ejabberd $(DESTDIR)/etc/ejabberd/ejabberdctl.cfg
	rm -r $(DESTDIR)/var/lock
	rm -rf $(DESTDIR)/usr/lib/$(DPKG_CACHE_DEB_BUILD_MULTIARCH)/ejabberd/priv/lib
	rm $(DESTDIR)/usr/share/doc/ejabberd/COPYING
	mkdir $(DESTDIR)/usr/share/ejabberd
	cp ejabberd.yml.example $(DESTDIR)/usr/share/ejabberd/ejabberd.yml.example

.PHONY: override_dh_compress
override_dh_compress:
	dh_compress --exclude=ejabberd.yml

.PHONY: override_dh_installdeb
override_dh_installdeb:
	erlang-depends
	dh_installdeb

.PHONY: override_dh_auto_clean
override_dh_auto_clean:
	rm -rf Makefile config.log config.status src/ejabberd.app.src vars.config ebin \
		ejabberd.init ejabberdctl.example include/XmppAddr.hrl src/XmppAddr.asn1db \
		src/XmppAddr.erl src/eldap_filter_yecc.erl
	dh_auto_clean
